/* Seu arquivo CSS */
.face-factory {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    background-size: cover;
  }
  
  .personagem-1 {
    background-image: url('./../../assets/personagem 1/1.svg');
    width: 100%;
    height: 100%;
  }
  
  .personagem-2 {
    background-image: url('./../../assets/personagem 2/2.svg');
    width: 100%;
    height: 100%;
  }
  
  .personagem-3 {
    background-image: url('./../../assets/personagem 3/3.svg');
    width: 100%;
    height: 100%;
  }
  
  .personagem-4 {
    background-image: url('./../../assets/personagem 4/4.svg');
    width: 100%;
    height: 100%;
  }
  