/* Seu arquivo CSS */
.face-factory {
  width: 100px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background-size: cover;
}

.personagem-1 {
  background-color: red;
  background-image: url('./personagem-1/1.svg');
  width: 2vh;
  height: 2vh;
}

.personagem-2 {
  background-image: url('./img/personagem 1/1.svg');
  width: 2vh;
  height: 2vh;
}

.personagem-3 {
  background-image: url('./img/personagem 1/1.svg');
  width: 2vh;
  height: 2vh;
}

.personagem-4 {
  background-image: url('./img/personagem 1/1.svg');
  width: 2vh;
  height: 2vh;
}
