:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 20px 0px;
}

.header {
  font-size: 3rem;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 35px;

  background: #845ec2;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: var(--bg-primay);
  color: var(--primay);
}

.App-link {
  color: #61dafb;
  color: var(--link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.background {
  background-color: rgb(255,204,0);
  background-repeat: repeat; /* Repete o padrão */
  position: absolute; /* Posicionamento absoluto */
  z-index: -1; /* Coloca o background atrás de outros elementos */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
}

.panel {
  background-color: blue; /* Panel background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  width: 300px; /* Fixed width, adjust as necessary */
  margin: auto; /* Center the panel */
}

.panel__header {
  font-size: 24px; /* Large text for the header */
  text-align: center; /* Center the text */
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.panel__body {
  border-radius: 20px 20px 0 0;
  background-color: white;
  padding: 20px; /* Spacing inside the panel */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.panel__button {
  background-color: #4a90e2; /* Button color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners for buttons */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding inside the buttons */
  margin-bottom: 10px; /* Space between buttons */
  cursor: pointer; /* Cursor to pointer to indicate it's clickable */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  text-transform: uppercase; /* Uppercase text for style */
  outline: none; /* Remove focus outline */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.panel__button:hover {
  background-color: #357abd; /* Darker button color on hover */
}

.panel__button:last-child {
  margin-bottom: 0; /* Remove margin for the last button */
}

/* Ensure the panel and buttons are centered horizontally and vertically */
.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
