@font-face {
  font-family: 'KenVector Future Thin';
  src: url('./fonts/kenvector_future_thin.ttf') format('truetype');
}

:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 20px 0px;
}

.header {
  font-size: 3rem;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 35px;

  background: #845ec2;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: var(--bg-primay);
  color: var(--primay);
}

.App-link {
  color: #61dafb;
  color: var(--link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.background {
  background-color: rgb(220, 180, 0);
  background-repeat: repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  font-family: 'KenVector Future Thin', sans-serif;

  width: 300px;
  margin: auto;
  /* color: white; */
  box-sizing: border-box;
}

.panel__header {
  background-image: url('./clean-ui/yellow_button03.png'); /* Caminho para o SVG */
  background-size: cover;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2px;
  margin-bottom: -10px;
  padding: 14px;
}

.svg-button {
  width: 100%; /* ou outra largura desejada */
  position: relative;
  background-image: url('./clean-ui/yellow_button03.png'); /* Caminho para o SVG */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; /* Para garantir que o padding do pseudo-elemento não exceda o botão */
}

.panel__body {
  background-image: url('./clean-ui/grey_panel.png'); /* Caminho para o SVG */
  background-size: cover;
  background-color: rgb(227, 227, 230);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.panel__button {
  background-image: url('./clean-ui/grey_panel.png'); /* Caminho para o SVG */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 8vw; /* Defina a largura em relação à largura da viewport */
  height: calc(8vw * 0.23);

  cursor: pointer;
  font-size: 1vw;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.panel__button:hover {
  background-color: #357abd;
}

.panel__button:last-child {
  margin-bottom: 0;
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
