/* Objetivo.css */
.objetivo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.objetivo-content {
    text-align: center;
}
  
  /* Adicione estilos adicionais conforme necessário */
  